* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
button {
  font-family: 'Merriweather', serif;
  color: #fde74c;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.app-container__wrapper {
  background-color: #1f1e1e;
  /* height: 90vh; */
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
}

.app-container__box {
  width: 100%;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

/* DARK MODE AND SHOW / HIDE*/

.dark {
  background-color: #1f1e1e;
}

.light {
  background-color: #3d3d3d;
}

.dark-text__header {
  color: #1f1e1e;
}

.dark-text__header {
  color: #1f1e1e;
}

.show {
  display: contents;
}
.hide {
  display: none;
}

/* DARK MODE OFF */

/* NAVBAR */

.nav-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1f1e1e;
  position: fixed;
  height: 9vh;
  width: 100vw;
  max-width: 100%;
  z-index: 1;
  border-bottom: #fde84c38 1px solid;
}

.nav-navbar__logo {
  height: 4.5em;
}

.nav-navbar__links {
  color: #fde74c;
  list-style: none;
  text-decoration: none;
  line-height: 0;
}

.nav-navbar__link {
  transition: 0.5s;
  transform: translateX(5px);
  margin: 25px;
}
.nav-navbar__link:hover {
  transform: translateX(0);
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: #fde74c;
  font-size: 1.2em;
}

.link:hover {
  color: #f8f4f9;
}

.nav-navbar button {
  position: absolute;
  cursor: pointer;
}
.button-darkmode {
  background-color: #1f1e1e;
}
.button-darkmode i {
  color: #fde74c;
  font-size: 3em;
}
.button-darkmode i:hover {
  animation: pulse 1s infinite;
  animation-timing-function: linear;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* START PAGE*/

.start-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.start-content {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8em;
}

.start-left__text-box {
  width: 30em;
  display: inline-block;

  animation: fadeIn linear 3s;
  -webkit-animation: fadeIn linear 3s;
  -moz-animation: fadeIn linear 3s;
  -o-animation: fadeIn linear 3s;
  -ms-animation: fadeIn linear 3s;
}

.start-left__title {
  font-size: 3em;
  color: #f8f4f9;
}
.start-left__bread {
  font-size: 1.1em;
  color: #fde74c;
}

.start-middle__line-box {
  padding: 1px;
}

.start-middle__line {
  height: 30em;
  width: 1px;
  background-color: #fde74c;
  /* position: absolute; */
  /* top: 40%;
  transform: translateY(-48%); */
}

.start-right__img {
  height: 25em;
  opacity: 0.4;
}
.start-right__img:hover {
  opacity: 0.5;
}

.mirrored {
  display: flex;
  flex-direction: row-reverse;
}

.start-footer {
  height: 10em;
}

/* CONTACT */

.contact-map__box {
  width: 50%;
}

.map {
  height: 400px;
  width: 100%;
}

/* CONTACT END */

/* SERVICES */

.services-container {
  /* width: 100vw;
  max-width: 100%;
  height: 100vh; */
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 120px;
  width: 60%;
}

.services-title {
  margin: 0;
  display: flex;
  justify-content: center;
  padding-top: 125px;
  font-size: 2em;
}

.services-cards {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.service-card__container {
  display: flex;
  justify-content: center;
  flex: 1 0 21%;
  margin-top: 50px;
}

.service-card__content {
  width: 350px;
  height: 350px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  background-color: #3d3d3d;
  position: relative;
}

.service-card__img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0.3;
}

.service-card__text {
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.service-card__header {
  font-size: 30px;
  font-weight: bold;
}

.service-card__desc {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

/* .service-banner__container {
  padding: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.service-banner__image {
  width: 60%;
  height: 30em;
  opacity: 0.3;
} */

.service-info__container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.548), rgba(0, 0, 0, 0.856)),
    url('../public/img/engraving.jpg');
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  width: 98%;
  height: 40em;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.service-info {
  width: 12em;
  /* margin: 0 auto; */
  margin-top: 50px;
}

.service-info__text {
  font-size: 2em;
}

.service-info i {
  font-size: 2.5em;
  display: flex;
  padding-top: 20px;
  justify-content: center;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  color: white;
}
.service-info i:hover {
  animation-name: bounce;
  -moz-animation-name: bounce;
}

.service-info__btn {
  background-color: #fde74c;
  color: #1f1e1e;
  font-weight: 700;
  font-size: 18px;
  width: 12em;
  max-width: 100%;
  height: 3em;
  border-radius: 8px;
  border: 2px solid #fde74c;
  cursor: pointer;
  text-transform: uppercase;
  /* padding: 0 25px; */
}

.service-info__btn:hover {
  background-color: #1f1e1e;
  color: #f8f4f9;
}

/* SERVICES END */

/* CONTACT START */
.contact-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2em 0 8em 0;
  /* height: 100vh; */
}

.contact-header {
  display: flex;
  justify-content: center;
  padding-top: 180px;
  font-size: 2.5em;
}

.contact-card {
  position: relative;
  width: 40em;
  height: 40em;
  margin: 20px;
}
.contact-img {
  width: 100%;
  opacity: 0.6;
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: 0;
}
.contact-img:hover {
  opacity: unset;
}

.contact-text {
  z-index: 100;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -75%);
}

.contact-logo {
  display: flex;
  align-items: center;
  color: #fde74c;
}

.contact-text p {
  margin: 5px;
}

/* CONTACT END */

/* MANUAL START */

.manual-container {
  height: 100vh;
}

.manual-content {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manual-box {
  /* background-color: #3d3d3d; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.548), rgba(0, 0, 0, 0.856)),
    url('../public/img/manual-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 88em;
  height: 500px;
  display: flex;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.manual-box::before {
  opacity: 0.7;
}

.manual-text__content {
  height: 100%;
  padding: 3em;
}

.manual-text__box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.manual-text__box p {
  font-size: 1.3em;
  color: #f8f4f9;
  transition-property: width;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s;
}

.manual-page__count {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 4em;
  white-space: nowrap;
  text-align: center;
}

.page-count {
  color: #f8f4f9;
  /* text-align: center; */
  font-size: 1.5em;
  width: 30px;
  height: 30px;
  border: 1px solid #fde74c;
  border-radius: 50%;
  display: inline-block;
  /* padding: 1em; */
  margin-right: 5em;
  position: relative;
}

.page-count:hover {
  cursor: pointer;
}

.page-count:before,
.page-count:after {
  content: '';
  width: 5em;
  border-bottom: 1px solid #fde74c;
  position: abs olute;
  top: 50%;
}
:after {
  left: 100%;
}
:before {
  right: 100%;
}
.page-count:first-of-type:before,
.page-count:last-of-type:after {
  display: none;
}

.active {
  background-color: #fde74c;
  color: #1f1e1e;
  /* border: 1px solid #f8f4f9; */
}

.manual-btns {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-right: 1px solid #1f1e1e;
  padding: 1.5em;
}

.manual-topic__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fde74c;
  color: #1f1e1e;
  font-weight: 700;
  font-size: 18px;
  width: 12em;
  max-width: 100%;
  height: 3em;
  border-radius: 8px;
  border: 2px solid #fde74c;
  cursor: pointer;
  text-transform: uppercase;
}

.manual-topic__btn:hover {
  background-color: #1f1e1e;
  color: #f8f4f9;
}

.active-button {
  background-color: #1f1e1e;
  color: #f8f4f9;
}

/* MANUAL END */

/* FOOTER */

.footer-container {
  background-color: #1f1e1e;
  width: 100%;
  border-top: #fde84c38 1px solid;
}

.footer-content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #f8f4f9;
}
.footer-content__box {
  text-align: center;
  width: 20em;
  margin: 30px;
}

.footer-map {
  width: 20em;
  border-radius: 50%;
  opacity: 0.5;
}
.footer-map:hover {
  opacity: unset;
  cursor: pointer;
}

.footer-logo {
  width: 7em;
}

/* FOOTER END */

/* ANIMATIONS */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

/* RESPONSIVE */

@media screen and (max-width: 1300px) {
  .contact-content {
    flex-direction: column;
  }
}

@media screen and (max-width: 850px) {
  .contact-card {
    width: 20em;
    height: 20em;
  }
  .footer-content {
    flex-direction: column;
  }
  .navbar-navbar__logo {
    height: 0.7em;
  }
}
